## .NET
bin/
obj/
out/
*.user
*.suo
*.userosscache
*.sln.docstates
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.cache
*.dll
*.pdb
*.nupkg
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/

## IDE
.vs/
.idea/
*.rsuser
*.DotSettings.user

## OS
.DS_Store
Thumbs.db

## Local / secrets
appsettings.*.local.json
*.Development.json.bak

## Uploads (opciono: ukloni sledeće linije ako želiš verzionisanje uploada)
# src/AutoOglasi.Web/wwwroot/uploads/
